@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

main{
  font-family: "Merriweather", serif;
  min-height: calc(100vh - 292px);
  margin-top: 66px;
  background-color: rgb(255 252 241);
}