.register{
  background-color: rgb(225, 221, 221);
  border-radius: 20px;

  img{
    width: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  span{
    color: red;
  }

  .separator{
    width: 100%;
    height: 2px;
    background-color: white;

  } 

  .btn{
    background-color: #3a1a1d;
    border: none;
    color: #f2ece2;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn:hover {
    background-color: #5a2a2d;
    color: #ffffff;
  }

  .link{
    color: #5a2a2d;
  }

  .link:hover{
    font-weight: bold;
  }
}