.card-category{
  background-color: rgb(214, 209, 209);
  border-bottom: 1px solid rgb(181, 175, 175);

  .cat-nav{
    gap: 4rem;
  }

  .select-cat{
    font-weight: bold;
    border-bottom: 1px solid;
    cursor: pointer;
  }

  .category-name{
    color: #3a1a1d;
    cursor: pointer;
  }

  .category-name:hover{
    color: #814e53;
    border-bottom: 1px solid  #814e53;
  }
}