
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.section-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/assets/images/home/secction1bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  height: 500px;
  color: white;
 
  .titulo {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Merriweather", serif;
  }

  .div-1{
    height: 500px;
  }

  /* Tamaños de pantalla para móviles (hasta 480px) */
  @media (max-width: 480px) {
    .titulo {
      font-size: 2rem;
    }
    .subtitulo {
      font-size: 1.75rem;
    }
  }

  .subtitulo {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Delius Unicase", cursive;
  }
}
.section-2 {
  padding-block: 4rem;
  display: flex;

  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-width: 300px;
    max-width: 400px;
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    img {
      border-radius: 2rem;
      width: 100%;
      min-width: 350px;
      max-width: 500px;
    }
  }
}

.section-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/assets/images/home/section-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  .div-1 {
    gap: 2rem;

    max-width: 400px;
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
  }
  .button {
    background-color: #d19b56;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .button:hover {
    background-color: #b98446;
    font-weight: bold;
    color: white;
  }
}
.section-4 {
  
}

.section-5 {
 
  .div-1{
    position: relative;
  }
  
  margin-block: 4rem;
  .image-row {
    display: flex;
       
  }

  .image-row img {
    width: calc(100% /5); 
    height: auto;
    object-fit: cover;
   
  }  
  .image-6{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Fondo negro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    /* Asegura que esté encima de las imágenes */
  }
  .text-overlay {
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Merriweather';
  }
  @media (max-width: 480px) {
    .text-overlay {
      color: white;
      font-size: 2rem;
      font-weight: 800;
      text-align: center;
      font-family: 'Merriweather';
    }
  }
}
.flexDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}