.form-edit-hike {
   background-color: #e1dddd; 
 
  padding-block: 2rem;
  border-radius: 20px;
  padding-inline: 1rem;
  max-width: 700px;
  width: 100%;
  margin-block: 4rem;
  .divisor {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  .button {
    background-color: #3a1a1d;
    color: white;
    border: none;
  }
  .button:hover {
    background-color: #5a2a2d;
    color: #ffffff;
  }
  .mainImage {
    max-width: 300px;
  }
  .hike-img {
    width: 200px;
    height: 100px;
  }
  .delete {
    background-color: #c1271b;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  .delete:hover {
    background-color: #841f10; /* Un tono de rojo más oscuro cuando el usuario pasa el ratón */
  }
  .button-danger{
    background-color: #c1271b;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  .button-danger:hover {
    background-color: #841f10;
  }
  .button-primary{
    background-color: #3c8be4; 
  color: white;
  border: none;
  }
  .button-primary:hover {
    background-color: #2f59f3; 
  }
}
.textarea {
  resize: none;
}
.assigned-exp{
  width:300px;
}
