.verify{
  background-color: rgb(225, 221, 221);
  border-radius: 20px;
 
  .separator{
    width: 100%;
    height: 2px;
    background-color: white;

  }  
  span{
    color: red;
  }

  p{
    color: green;
  }

  .btn{
    background-color: #3a1a1d;
    border: none;
    color: #f2ece2;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .btn:hover {
    background-color: #5a2a2d;
    color: #ffffff;
  }

}