.navbar {
  background-color: #f2ece2;
  font-weight: bold;
  box-shadow: 0 3px 8px rgb(0, 0, 0, 25%);
  color: black;
  overflow-x: hidden;

  .logo {
    height: 40px;
    width: auto;
  }

  .item {
    letter-spacing: 1px;
    transition: 0.1s;
    border-bottom: 0 solid #3a1a1d;
    border-top: 0 solid #3a1a1d;
    cursor: pointer;
    margin-left: 0;
  }
  .item:hover {
    border-bottom: 3px solid #3a1a1d;
    border-top: 3px solid #3a1a1d;
  }

  Button {
    background-color: #3a1a1d;
    border: none;
    color: #f2ece2;
    transition: background-color 0.3s, color 0.3s;
  }

  Button:hover {
    background-color: #5a2a2d;
    color: #ffffff;
  }

  .logo,
  .nav-link {
    margin-left: 1.5rem;
  }

  @media (width <= 988px) {
    Button {
      .btnRegister{
        margin-right: 1rem;
      }

      .btnLogin {
        margin-right: 10rem;
      }
    }
  }
}
