.text-experience {
  color: #3a1a1d;
}

.hikeAvailable {
  background-color: lightgrey;

  .card-cols {
    height: 30vh;
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    .addexp-btn {
      border-radius: 5px;
      background-color: #3a1a1d;
      border: none;
      color: #f2ece2;
      transition: background-color 0.3s, color 0.3s;
      padding: 10px;
    }

    .addexp-btn:hover {
      background-color: #5a2a2d;
      color: #ffffff;
    }
  }
}
